# Ignore IDE folders (for IntelliJ IDEA, etc.)
.idea/
*.iml

# Ignore build directories
target/

# Ignore compiled class files
*.class

# Ignore logs and temp files
*.log
*.tmp

#Ignore personal configuration files
spring-boot-user-authentication-main/src/main/resources/application.properties
