# Ignore IDE folders (for IntelliJ IDEA, etc.)
.idea/
*.iml

# Ignore build directories
target/

# Ignore compiled class files
*.class

# Ignore logs and temp files
*.log
*.tmp

spring-boot-user-authentication-main/.mvn/wrapper/MavenWrapperDownloader.java
spring-boot-user-authentication-main/.mvn/wrapper/maven-wrapper.jar
spring-boot-user-authentication-main/.mvn/wrapper/maven-wrapper.properties

